@mixin btn {
  background-color: $primary-color;
  border-radius: 10px;
  color: $light-color-2;
  border: 0;
  &:hover {
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
    transform: scale(1.01);
  }
}
